#body{
    width: 100%;
    height: 100%;
    position: fixed;
}

#vm1{
    width: 50%;
    height: 100%;
    position: fixed;
}

#vm2{
    width: 50%;
    height: 100%;
    position: fixed;
    left: 50%;
}