.App {
  text-align: center;
}

#vm1{
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0%;
  background-color: red;
}

#vm2{
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 50%;
  background-color: blue;
}