#body{
    width: 100%;
    height: 100%;
    position: absolute;
}

#vm1{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0%;
}

#vm2{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 50%;
    background-color: red;
}